* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: black;
  font-family: "Open Sans", sans-serif;
  background-color: #FDFDFD;
}

.container {
  width: 1180px;
  margin: 0 auto;
  color: #002A48;
}

.flex {
  display: flex;
  align-items: center;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 68px;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

strong {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #00171F;
}

span {
  color: #667479;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #242B33;
}

a {
  color: #003459;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 1250px) {
  .header {
    margin: 0 auto;
  }
  .header .container {
    width: 700px;
  }
  .header .container .nav1 {
    justify-content: space-between;
  }
  .header .container .nav1 .dropdown1 {
    display: block;
  }
  .header .container .nav1 .lupa {
    display: block;
  }
  .header .container .nav1 .menu,
.header .container .nav1 .link,
.header .container .nav1 .input,
.header .container .nav1 .language {
    display: none;
  }
  .header .container .nav2 {
    flex-direction: column;
    gap: 25px;
  }
  .section1 {
    margin: 0 auto;
  }
  .section1 .container {
    width: 600px;
  }
  .section1 .container .flex article h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .section1 .container .parent1 {
    height: 1603px;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(4, 378px);
  }
  .section2 {
    margin: 0 auto;
  }
  .section2 .container {
    width: 700px;
    flex-direction: column-reverse;
    gap: 15px;
  }
  .section2 .container .text {
    width: 600px;
    text-align: start;
    margin: 0;
    flex-direction: column;
  }
  .section3 {
    margin: 0 auto;
  }
  .section3 .container {
    width: 600px;
  }
  .section3 .container .flex article h4 {
    font-size: 24px;
    line-height: 36px;
  }
  .section3 .container .parent1 {
    height: 1874px;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(4, 446px);
  }
  .section4, .section5 {
    display: none;
  }
  .section6 {
    margin: 0 auto;
  }
  .section6 .container {
    width: 600px;
  }
  .section6 .container .flex article h4 {
    font-size: 24px;
    line-height: 36px;
  }
  .section6 .container .boxes {
    justify-content: center;
  }
  .section6 .container .boxes .box2, .section6 .container .boxes .box3 {
    display: none;
  }
  .footer {
    margin: 0 auto;
  }
  .footer .container {
    width: 600px;
  }
  .footer .container .programs {
    flex-direction: column;
  }
  .footer .container .programs h4 {
    font-size: 20px;
    line-height: 32px;
  }
  .footer .container .programs .form .input {
    width: 255px;
  }
  .footer .container .programs .form .button {
    width: 255px;
    text-align: center;
  }
  .footer .container .uls_li {
    flex-direction: column;
    gap: 1rem;
  }
  .footer .container .footer_and {
    flex-direction: column;
  }
}
@media (max-width: 780px) {
  .header {
    margin: 0 auto;
  }
  .header .container {
    width: 414px;
  }
  .header .container .nav2 .text1 h1 {
    font-size: 46px;
    line-height: 60px;
  }
  .header .container .nav2 .text1 h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .header .container .nav2 .text1 p {
    font-size: 12px;
    line-height: 18px;
  }
  .header .container .nav2 img {
    width: 100%;
  }
  .section1 {
    margin: 0 auto;
  }
  .section1 .container {
    width: 414px;
  }
  .section1 .container .flex article p {
    font-size: 14px;
    line-height: 20px;
  }
  .section1 .container .flex article h3 {
    font-size: 20px;
    line-height: 32px;
  }
  .section1 .container .flex .link_a {
    display: none;
  }
  .section1 .container .parent1 {
    height: 1350px;
    grid-template-columns: repeat(2, 185px);
    grid-template-rows: repeat(4, 317px);
    padding-bottom: 40px;
  }
  .section1 .container .parent1 .child img {
    width: 169px;
    height: 169px;
  }
  .section1 .container .parent1 .child img strong {
    font-size: 14px;
    line-height: 20px;
  }
  .section1 .container .parent1 .child img span {
    font-size: 12px;
    line-height: 18px;
  }
  .section1 .container .link_c {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px 160px;
  }
  .section2 {
    margin: 0 auto;
  }
  .section2 .container {
    width: 414px;
  }
  .section2 .container .text {
    width: 90%;
    text-align: center;
  }
  .section2 .container .imgm {
    width: 100%;
  }
  .section3 {
    display: none;
  }
  .section6 {
    margin: 0 auto;
  }
  .section6 .container {
    width: 414px;
  }
  .section6 .container .flex {
    padding-bottom: 15px;
  }
  .section6 .container .flex article {
    padding-top: 20px;
  }
  .section6 .container .flex article p {
    font-size: 14px;
    line-height: 20px;
  }
  .section6 .container .flex article h4 {
    font-size: 20px;
    line-height: 32px;
  }
  .section6 .container .flex .link_a {
    display: none;
  }
  .section6 .container .boxes {
    flex-direction: column;
    gap: 10px;
  }
  .section6 .container .boxes .box2,
.section6 .container .boxes .box3 {
    display: block;
  }
  .footer {
    margin: 0 auto;
  }
  .footer .container {
    width: 414px;
  }
  .footer .container .form {
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    width: 100%;
  }
  .footer .container .form .input {
    width: 326px;
  }
  .footer .container .form .button {
    width: 326px;
  }
}
.header {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 0px 0px 40px 40px;
}
.header .nav1 {
  justify-content: space-between;
  padding: 30px 0;
}
.header .nav1 .dropdown1 {
  display: none;
}
.header .nav1 .menu {
  padding-left: 50px;
  gap: 48px;
  padding-right: 36px;
}
.header .nav1 .input .input_img {
  position: absolute;
  z-index: 7;
  top: 40px;
  left: 51%;
}
.header .nav1 .input .input-field {
  cursor: pointer;
  padding: 10px 69px 10px 48px;
  background: #FDFDFD;
  outline: 0;
  border: 2px solid #003459;
  border-radius: 46px;
  color: #99A2A5;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.header .nav1 .input .input-field::-moz-placeholder {
  color: #99A2A5;
}
.header .nav1 .input .input-field:-ms-input-placeholder {
  color: #99A2A5;
}
.header .nav1 .input .input-field::placeholder {
  color: #99A2A5;
}
.header .nav1 .input .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .nav1 .input .input-field:focus {
  background-color: grey;
  color: white;
  border: 2px solid white;
}
.header .nav1 .input i {
  position: absolute;
  font-size: 18px;
  right: 93%;
  top: 30%;
}
.header .nav1 .link .link_a {
  padding: 11px 28px;
  border: 1px solid #003459;
  background-color: #003459;
  border-radius: 57px;
  color: #FDFDFD;
}
.header .nav1 .link .link_a:hover {
  background-color: #FDFDFD;
  color: #003459;
}
.header .nav1 .language .dropdown {
  width: 60px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
.header .nav1 .language .dropdown p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
.header .nav1 .language .dropdown .toggler {
  justify-content: space-between;
}
.header .nav1 .language .dropdown .toggler .toggler_img {
  border-radius: 50%;
  transition: 0.3s;
}
.header .nav1 .language .dropdown .drodown_menu {
  overflow: hidden;
  height: 0;
  transition: 0.3s;
  position: absolute;
  border-radius: 10px;
  background-color: #FDFDFD;
  width: 60px;
  box-shadow: 0px 4px 60px -2px rgba(0, 0, 0, 0.12);
}
.header .nav1 .language .dropdown:hover .toggler_img {
  transform: rotate(360deg);
}
.header .nav1 .language .dropdown:hover .drodown_menu {
  height: 50px;
}
.header .nav1 .language .dropdown:hover .drodown_menu .dropdown_icon:hover {
  background-color: #003459;
  color: #FDFDFD;
}
.header .nav1 .lupa {
  display: none;
}
.header .nav2 {
  justify-content: space-between;
}
.header .nav2 .text1 {
  width: 500px;
}
.header .nav2 .text1 h2 {
  padding-bottom: 24px;
}
.header .nav2 .text1 p {
  padding-bottom: 34px;
}
.header .nav2 .text1 .links {
  gap: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.header .nav2 .text1 .links .links_a {
  gap: 11px;
  padding: 12px 34px;
  border: 1.5px solid #003459;
  border-radius: 57px;
}
.header .nav2 .text1 .links .links_a:hover {
  background-color: #FDFDFD;
}
.header .nav2 .text1 .links .links_b {
  border: 1px solid #003459;
  background: #003459;
  border-radius: 57px;
  padding: 13px 35px;
  color: #FDFDFD;
}
.header .nav2 .text1 .links .links_b:hover {
  background-color: #FCEED5;
  color: #003459;
}

.section1 {
  padding: 30px 0;
}
.section1 .flex {
  padding-bottom: 28px;
  justify-content: space-between;
}
.section1 .flex .link_a {
  gap: 8px;
  padding: 12px 28px;
  border: 1.5px solid #003459;
  border-radius: 57px;
}
.section1 .flex .link_a:hover {
  background-color: #FFE7BA;
}
.section1 .parent1 {
  height: 776px;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(2, 378px);
  align-content: space-between;
  justify-content: space-between;
  align-items: baseline;
}
.section1 .parent1 .child {
  padding: 8px;
  background: #FDFDFD;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.section1 .parent1 .child .flex {
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.section1 .link_c {
  display: none;
  padding: 12px 0;
  height: 48px;
  border: 1.5px solid #003459;
  border-radius: 57px;
}
.section1 .link_c .flex {
  gap: 8px;
}
.section1 .link_c .flex:hover {
  background-color: #FFE7BA;
}

.section2 {
  border-radius: 20px;
  background-color: #FCEED5;
  overflow: hidden;
}
.section2 .flex {
  justify-content: space-between;
}
.section2 .flex .text {
  width: 400px;
  margin-right: 85px;
  text-align: end;
}
.section2 .flex .text h3 {
  padding-bottom: 8px;
}
.section2 .flex .text p {
  padding-bottom: 24px;
}
.section2 .flex .text .links {
  gap: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.section2 .flex .text .links .links_a {
  gap: 11px;
  padding: 12px 34px;
  border: 1.5px solid #003459;
  border-radius: 57px;
}
.section2 .flex .text .links .links_a:hover {
  background-color: #FDFDFD;
}
.section2 .flex .text .links .links_b {
  border: 1px solid #003459;
  background: #003459;
  border-radius: 57px;
  padding: 13px 35px;
  color: #FDFDFD;
}
.section2 .flex .text .links .links_b:hover {
  background-color: #FCEED5;
  color: #003459;
}

.section3 {
  padding: 30px 0;
}
.section3 .flex {
  padding-bottom: 28px;
  justify-content: space-between;
}
.section3 .flex .link_a {
  gap: 8px;
  padding: 12px 28px;
  border: 1.5px solid #003459;
  border-radius: 57px;
}
.section3 .flex .link_a:hover {
  background-color: #FFE7BA;
}
.section3 .parent1 {
  height: 912px;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(2, 446px);
  align-content: space-between;
  justify-content: space-between;
  align-items: baseline;
}
.section3 .parent1 .child {
  padding: 8px;
  background: #FDFDFD;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  padding-bottom: 0;
  border-radius: 12px;
  border: 1px solid blue;
}
.section3 .parent1 .child .text0 {
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.section3 .parent1 .child .text0 strong {
  font-size: 16px;
  line-height: 24px;
}
.section3 .parent1 .child .text0 span {
  font-size: 12px;
  line-height: 18px;
}
.section3 .parent1 .child .text0 .free {
  gap: 10px;
  width: 100%;
  padding: 8px 10px;
  background-color: #FCEED5;
  border-radius: 8px;
}

.section4 {
  padding: 30px 0;
}
.section4 .div1 {
  justify-content: space-between;
}
.section4 .div1 .flex {
  gap: 10px;
}
.section4 .div1 .link_a {
  gap: 8px;
  padding: 12px 28px;
  border: 1.5px solid #003459;
  border-radius: 57px;
}
.section4 .div1 .link_a:hover {
  background-color: #FFE7BA;
}
.section4 .div2 {
  justify-content: space-between;
}

.section5 {
  margin: 30px 0;
  background-color: #FCEED5;
  border-radius: 20px;
}
.section5 .text {
  width: 400px;
  margin-left: 85px;
  flex-direction: column;
  align-items: flex-end;
}
.section5 .text h3 {
  padding-bottom: 8px;
}
.section5 .text p {
  padding-bottom: 24px;
}
.section5 .text .links {
  gap: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.section5 .text .links .links_a {
  gap: 11px;
  padding: 12px 34px;
  border: 1.5px solid #003459;
  border-radius: 57px;
}
.section5 .text .links .links_a:hover {
  background-color: #FDFDFD;
}
.section5 .text .links .links_b {
  border: 1px solid #003459;
  background: #003459;
  border-radius: 57px;
  padding: 13px 35px;
  color: #FDFDFD;
}
.section5 .text .links .links_b:hover {
  background-color: #FCEED5;
  color: #003459;
}

.section6 .flex {
  padding-bottom: 28px;
  justify-content: space-between;
}
.section6 .flex .link_a {
  gap: 8px;
  padding: 12px 28px;
  border: 1.5px solid #003459;
  border-radius: 57px;
}
.section6 .flex .link_a:hover {
  background-color: #FFE7BA;
}
.section6 .boxes {
  justify-content: space-between;
}
.section6 .boxes .box {
  padding: 8px;
  width: 380px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  flex-direction: column;
  align-items: flex-start;
}
.section6 .boxes .box img {
  padding-bottom: 15px;
}
.section6 .boxes .box .box_a {
  background: #00A7E7;
  border-radius: 28px;
  padding: 3px 5px;
  color: #FDFDFD;
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 12px;
}
.section6 .boxes .box strong {
  padding-bottom: 6px;
}
.section6 .boxes .box p {
  padding-bottom: 16px;
}

.footer {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 40px 40px 0px 0px;
  padding-top: 80px;
}
.footer .programs {
  width: 100%;
  padding: 32px;
  gap: 20px;
  background-color: #003459;
  border-radius: 16px;
}
.footer .programs h4 {
  width: 380px;
  font-size: 24px;
  line-height: 36px;
  color: #FDFDFD;
}
.footer .programs .form {
  padding: 12px;
  background-color: #FDFDFD;
  border-radius: 14px;
  justify-content: space-between;
}
.footer .programs .form .input {
  color: #99A2A5;
  font-weight: 500;
  width: 450px;
  font-size: 14px;
  line-height: 20px;
  padding: 14px 28px;
  border: 1px solid #99A2A5;
  border-radius: 8px;
}
.footer .programs .form .button {
  margin-left: 40px;
  padding: 12px 30px;
  background: #003459;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  color: #FDFDFD;
}
.footer .uls_li {
  justify-content: space-between;
  padding: 40px 10px;
  border-bottom: 1px solid #003459;
}
.footer .uls_li .uls1 {
  gap: 60px;
}
.footer .uls_li .uls2 {
  gap: 50px;
}
.footer .footer_and {
  justify-content: space-between;
  padding: 50px 0;
}/*# sourceMappingURL=main.css.map */